modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_openai_ai_integrations:2.0.0"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_SUPABASE_URL = "https://gtlipifdfyugiwpxvuse.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY = "sb_publishable_mi79a8jYxxEykGM1dEp4CA_IzC3XCQe"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Crawler"

[[workflows.workflow]]
name = "Crawler"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[workflows.workflow.metadata]
outputType = "console"

[deployment]
deploymentTarget = "scheduled"
run = ["node", "index.js"]
